
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="usersList">
    <thead>
    <tr>
        <th> Id </th>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Email </th>
        <th> Password </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${locale} == 'en' ? ${user.nameEng} : ${user.nameRu} + 'LocaleENG'"></td>
        <td th:text="${locale} == 'en' ? ${user.lastNameEng} : ${user.lastNameRu}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
    </tr>
    </tbody>
</table>
<div th:text="${#locale}"></div>
</body>
</html>